<!-- Bootstrap -->
<link href="{{ MEDIA_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">
<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }
    
  #id_norma
  {
  	width: 270px;
  	height: 190px;
  }
</style>
<link href="{{ MEDIA_URL }}css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/bootstrap/prettify.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/bootstrap/docs.css" rel="stylesheet">
<!-- Tree -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tree/jqueryFileTree.css" />
<!-- FancyBox -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/fancy/jquery.fancybox.css?v=2.0.6" media="screen" />
<!--/*<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui/jquery-ui.css" /> -->
<!-- placeholder fix -->
<link rel="stylesheet" type="textt/css" href="{{ MEDIA_URL }}css/placeholderfix/estilo.css" />
