<link href="{{ MEDIA_URL }}css/bootstrap/bootstrap.css" rel="stylesheet">
<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }
</style>
<link href="{{ MEDIA_URL }}css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/bootstrap/prettify.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/bootstrap/docs.css" rel="stylesheet">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tree/jquery.treeview.css" />