<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/prettify.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-transition.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-alert.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-modal.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-dropdown.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-scrollspy.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-tab.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-tooltip.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-popover.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-button.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-collapse.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-carousel.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-typeahead.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/application.js"></script>
<script src="{{ MEDIA_URL }}js/tree/jqueryFileTree.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/fancy/jquery.fancybox.js?v=2.0.6"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/fancy/fancy_config.js"></script>

{% if iAcao == 2 %}
<script type="text/javascript">
	$(document).ready(function () {
	        $.fancybox({
	            'autoScale': true,
	            'transitionIn': 'fade',
	            'transitionOut': 'fade',
	            'type': 'iframe',
	            'href': '/assinar/{{iVersao}}/'
	        });
	});
</script>
{% endif %}

{% if iAcao == 3 %}
<script type="text/javascript">
	$(document).ready(function () {
	        $.fancybox({
	            'autoScale': true,
	            'transitionIn': 'fade',
	            'transitionOut': 'fade',
	            'type': 'iframe',
	            'href': '/norma/{{iVersao}}/'
	        });
	});
</script>
{% endif %}

{% if iAcao == 4 %}
<script type="text/javascript">
	$(document).ready(function () {
	        $.fancybox({
	            'autoScale': true,
	            'transitionIn': 'fade',
	            'transitionOut': 'fade',
	            'type': 'iframe',
	            'href': '/email/{{iVersao}}/'
	        });
	});
</script>
{% endif %}

{% if iAcao == 5 %}
<script type="text/javascript">
	$(document).ready(function () {
	        $.fancybox({
	            'autoScale': true,
	            'transitionIn': 'fade',
	            'transitionOut': 'fade',
	            'type': 'iframe',
	            'href': '/maladireta/{{iVersao}}/'
	        });
	});
</script>
{% endif %}