<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<!-- Bootstrap -->
<script src="{{ MEDIA_URL }}js/bootstrap/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/prettify.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-transition.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-alert.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-modal.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-dropdown.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-scrollspy.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-tab.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-tooltip.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-popover.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-button.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-collapse.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-carousel.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/bootstrap-typeahead.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap/application.js"></script>
<!-- Tree -->
<script src="{{ MEDIA_URL }}js/tree/jqueryFileTree.js" type="text/javascript"></script>

<script>
$("form[data-fancy=true]").live('submit',function(){
	var params = $(this).serialize(),
	$form = $(this);
	var self = this;
	$.ajax({
		type: 'POST',
		url: self.action,
		data: params,
		complete: function(){
			parent.jQuery.fancybox.close();
		},
		success: function(){
			alert('Finished processing form');
			return false;							
		},
		dataType: 'json'
	});
	return false;
});

</script>

{% if iAcao == 1 %}
<script type="text/javascript">
	$(document).ready(function () {
	        $.fancybox({
	            'autoScale': true,
	            'transitionIn': 'fade',
	            'transitionOut': 'fade',
	            'type': 'iframe',
	            'href': '/email/'
	        });
	});
</script>
{% endif %}

{% if iAcao == 2 %}
<script type="text/javascript">
	$(document).ready(function () {
	        $.fancybox({
	            'autoScale': true,
	            'transitionIn': 'fade',
	            'transitionOut': 'fade',
	            'type': 'iframe',
	            'href': '/publicar/'
	        });
	});
</script>
{% endif %}

