<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
  	
		<header class="jumbotron subhead" id="overview">
		  <h2><strong>Aprovar Documento</strong></h2>
		  <p class="lead">Confirmar aprovação de documento.</p>
		</header>
		  	
		{% if iPossuiPermissao %}
		<div class="container">
			<form class="form-horizontal" action="" id="fancy" data-fancy='true' method="POST">{% csrf_token %}
				<div class="well">
					<div class="control-group">
							<label class="control-label" for="select01">Comentário *</label>
							<div class="controls">
			              <textarea class="input-xlarge" id="aprovar_feedback" style="width: 500px; height: 100px;" name= "comentario" rows="3"></textarea>
			            </div>
					</div>
		        </div>
				
				<div class="form-actions">
					<button id="fat-btn" data-loading-text="Carregando..." type="submit" class="btn btn-primary" >Aprovar Pendência</button>
					<!--<button class="btn" name="cancelar" onClick="parent.jQuery.fancybox.close();">Cancelar</button>-->
				</div>
			</form>
		</div>
		{% else %}
		<div class="alert alert-error">
		  <p><center>Você não possui permissão para Aprovar o Documento!</center></p>
		</div>
		
		<div class="form-actions">
			<button class="btn btn-inverse" onClick="parent.jQuery.fancybox.close();">Fechar</button>
		</div>
		{% endif %}
		
  	</div>
</body>

</html>
