<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
  	
		<header class="jumbotron subhead" id="overview">
		  <h2><strong>Aprovar Documento</strong></h2>
		  <p class="lead">Confirmar aprovação de documento.</p>
		</header>
		  	
		<form action="" method="POST">{% csrf_token %}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" onClick="parent.jQuery.fancybox.close();">Aprovar</button>
				<button class="btn" onClick="parent.jQuery.fancybox.close();">Cancelar</button>
			</div>
		</form>
	
  	</div>
</body>

</html>
