<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
		<header class="jumbotron subhead" id="overview">
		  <h2>Download</h2>
		  <p class="lead">Efetuar Download do Documento</p>
		</header>
	</div>
	
	{% if messages %}
	<div class="alert alert-info">
		<ul class="messages">
		    {% for message in messages %}
		    	<li><b>{{ message }}</b></li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}
	
</body>

</html>