<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
<!-- Projeto -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/projeto/mascaras.js"></script> 
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
		<header class="jumbotron subhead" id="overview">
		  <h2>Importar Documento</h2>
		</header>
	</div>	
	
	{% if form.errors %}
		<div class="well wellsmall wellbranco">
			<p><b>O documento não pode ser inserido. Por favor, verifique os erros abaixo:</b></p>	
			{% for field in form %}
		    	{{ field.errors }}
		    {% endfor %}
		</div>
    {% endif %}
    
    {% if messages %}
	<div class="alert alert-info">
		<ul class="messages">
		    {% for message in messages %}
		    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}
	
    {% if iPossuiPermissao %}
    <div class="well wellsmall">
	    <form class="form-horizontal" action="{% url multi %}" method="POST" enctype="multipart/form-data">
			<div class="container">
				{% load multiuploader %}
				{% multiupform %}
			</div>
		</form>
	</div>
	<form action="" id="fancy" data-fancy='true' method="POST">{% csrf_token %}
		<div class="well wellbranco wellsmall">
			<div class="container-fluid">
		  		<div class="row-fluid">
		    		<div class="span6">
		    			
    <div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Inserir informações básicas (obrigatórias)
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
		<p><input id="id_assunto_importar" type="text" placeholder="Assunto *" name="assunto" maxlength="100"></p>
		<p>{{form.usr_responsavel}}</p>
		<p>{{form.tipo_documento}}</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Inserir informações avançadas (opcionais)
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
		<p>{{form.data_validade}}</p>
       	<p>{{form.data_descarte}}</p>
    	<label><b>Associar Normas:</b></label>
      	<p>{{form.norma}}</p>
      </div>
    </div>
  </div>
{%if iTamListaIndices > 0%}
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Índices personalizados
      </a>
    </div>
    {%endif%}
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
	{% for indice in iListaIndices %}
			<div class="control-group">
			<!-- <label class="control-label" for="input01">{{indice.descricao}}</label> -->
				<div class="controls">
			  	<input type="text" class="input-xlarge" id="assunto" placeholder="{{indice.descricao}}" name='indice_{{indice.id_indice}}'>
				</div>
			</div>
			{% empty %}
			{% endfor %}
      </div>
    </div>
  </div>
{% endif %}
</div>

					  
				    </div>
				    <div class="span6">
				    	<p>{{form.eh_publico}}  -  Este arquivo pode ser visualizado publicamente?</p>
				    	<div class="form-actions" style="float: right;">
							<button id="fat-btn" data-loading-text="Carregando..." type="submit" class="btn btn-primary">Importar Documento</button>
							<!--<button class="btn" name="cancelar" onClick="parent.jQuery.fancybox.close();">Cancelar</button>-->
						</div>
				    </div>
				 </div>
			</div>
		</div>
</form>
</body>

</html>
