<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
  		<header class="jumbotron subhead" id="overview">
		  <h2>Visualizar Documento</h2>
		</header>
				
		{% if messages %}
		<div class="alert alert-info">
			<ul class="messages">
			    {% for message in messages %}
			    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
			    {% endfor %}
			</ul>
		</div>
		{% endif %}
		
		{% if iPossuiPermissao %}
			<center><img class="img-polaroid" src="{{iImagem}}" border="5" /></center>
		{% endif %}
		
  	</div>
</body>

</html>