<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
<div class="container">
  		<center>
		<header class="jumbotron subhead" id="overview">
		  <h2><strong>Relatórios</strong></h2>
		  <p class="lead">Selecione o Relatório desejado</p>
		</header>
		</center>
		
		{% if messages %}
		<div class="alert alert-info">
			<ul class="messages">
			    {% for message in messages %}
			    	<li><b>{{ message }}</b></li>
			    {% endfor %}
			</ul>
		</div>
		{% endif %}
		
		{% if iPossuiPermissao %}
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span2">
		      <!--Sidebar content-->
		    </div>
		    <div class="span8">
			    <form class="form-horizontal" action="" method="POST">{% csrf_token %}
					<label class="radio">
					  <input type="radio" name="tipo_relatorio" id="aprovar" value="1" checked>
					  <strong>Relatórios dos Últimos Acessos ao Sistema</strong>
					</label>
					<label class="radio">
					  <input type="radio" name="tipo_relatorio" id="assinar" value="2">
					  <strong>Relatórios dos Usuários (Ativos/Inativos)</strong>
					</label>
					<div class="form-actions">
						<button id="fat-btn" data-loading-text="Carregando..." type="submit" class="btn btn-primary" >Continuar</button>
					</div>
				</form>
		    </div>
		    <div class="span2">
		      <!--Sidebar content-->
		    </div>
		  </div>
		</div>
		{% endif %}
  </div>
</body>

</html>
