{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

<div class="container">
	<h1>Ajuda</h1>
</div>
<div class="container">
	<div class="row">
	<div class="span6">
		<h3>Software Desktop</h3>
		<p>link Importação em lote e Biometria</p>
		<ul>
			<li><a href="#" target="_blank"> Importação em Lote</a></li>
			<li><a href="#" target="_blank"> Login Biométrico</a></li>
		</ul>
	</div>
	<div class="span6">
		<h3>Manual</h3>
		<p>Manual para utilização do Track-Doc</p>
		<ul>
			<li><a href="{{ MEDIA_URL }}ajuda/Manual_TrackDoc.pdf" target="_blank"> Manual do Usuário Track-Doc</a></li>
			{% if user.is_staff %}
			<li><a href="{{ MEDIA_URL }}ajuda/Manual_TrackDoc.pdf" target="_blank"> Manual do Administrador Track-Doc</a></li>
			{% endif %}
		</ul>
	</div>
	</div>
	<div class="row">
	<div class="span6">
		<h3>Contato</h3>
		<p>Links para entrar em contato com a Avanço Digital</p>
		<ul>
			<li><a href="http://avancodigital.com.br/contato/" target="_blank"> Contato</a></li>
		</ul>
	</div>
	<div class="span6">
		<h3>Digitalização</h3>
		<p>Link para os plugins de digitalização</p>
		<ul>
			<li><a href="{{ MEDIA_URL }}twain/componente/DynamicWebTWAINPlugIn.exe" target="_blank"> Internet Explorer</a></li>
			<li><a href="{{ MEDIA_URL }}twain/componente/DynamicWebTwain.xpi" target="_blank"> Chrome e Firefox</a></li>
		</ul>
	</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock conteudo %}