{% extends "base.html"%}
{% load i18n %}
{% block conteudo %}

<div class="container">
	<h1>Ajuda</h1>
</div>
<div class="container">
	<div class="row">
	<div class="span6">
		<h3>Aplicativos Desktop</h3>
		<p>Faça o Download dos aplicativos desktop para Importação em Lote e Login Biométrico do Track-Doc.</p>
		<ul>
			<li><a href="/download_importador/" target="_blank"> Importação em Lote</a></li>
			<li><a href="/download_biometria/" target="_blank"> Login Biométrico</a></li>
		</ul>
	</div>
	<div class="span6">
		<h3>Manual</h3>
		<p>Manual para facilitar e otimizar a utilização do Track-Doc.</p>
		<ul>
			<li><a href="{{ MEDIA_URL }}ajuda/Manual_TrackDoc.pdf" target="_blank"> Manual do Usuário Track-Doc</a></li>
			{% if user.is_staff %}
			<li><a href="{{ MEDIA_URL }}ajuda/Manual Track-Doc - Admin.pdf" target="_blank"> Manual do Administrador Track-Doc</a></li>
			{% endif %}
		</ul>
	</div>
	</div>
	<div class="row">
	<div class="span6">
		<h3>Contato</h3>
		<p>Para entrar em contato com a nossa equide de suporte clique no link abaixo.</p>
		<ul>
			<li><a href="http://avancodigital.com.br/contato/" target="_blank"> Contato</a></li>
		</ul>
	</div>
	<div class="span6">
		<h3>Digitalização</h3>
		<p>Para Fazer a Digitalização dos documentos é necessário fazer o download do(s) plug-in(s) abaixo. </p>
		<ul>
			<li><a href="{{ MEDIA_URL }}twain/componente/DynamicWebTWAINPlugIn.msi" target="_blank"> Internet Explorer</a></li>
			<li><a href="{{ MEDIA_URL }}twain/componente/DynamicWebTwain.xpi" target="_blank"> Chrome e Firefox</a></li>
		</ul>
	</div>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock conteudo %}