{% extends "base.html" %}
{% load i18n %}
{% block conteudo %}
	
<header class="jumbotron subhead" id="overview">
  <h1>Buscar Documentos</h1>
  <p class="lead">Listagem de Documentos</p>
</header>

<div class="container">
	
	<form class="well form-inline" method="post"> {% csrf_token %}
	 	<p>	
	 	    {{ form.assunto }}
			{{ form.protocolo }}
			{{ form.conteudo }}
			{{ form.data_criacao_inicial }}
            {{ form.data_criacao_final }}
		</p>
		<p>
			{{ form.usuario_responsavel }}
            {{ form.usuario_criador }}
			{{ form.normas }}
			{{ form.tipo_documento }}
			{{ form.estado }}
		</p>
		<p>
			<button type="submit" class="btn btn-success">Busca Simples</button>
			<a href="#avancado" class="btn btn-success" rel="popover" placement="left" data-toggle="modal" data-content="Busca por índices personalizados adicionados ao sistema." data-original-title="Buscar Avançado">Busca Avançada</a>
		</p>
    </form>

    <br>
       
	<table class="table table-striped table-bordered table-condensed">
		<thead>
		  <tr>
		    <th colspan="6"><center>Lista de Documentos</center></th>
		  </tr>
		  <tr>
		  	<th> </th>
		    <th><center>Protocolo</center></th>
		    <th><center>Assunto</center></th>
		    <th><center>Tipo de Documento</center></th>
		    <th><center>Estado</center></th>
		    <th><center>Criador</center></th>
		    <th><center>Versão</center></th>
		    <th><center>Criado em</center></th>
		    <th><center>Ação</center></th>
		  </tr>
		</thead>
		<tbody>

		{% for documento in iListaDocumentos %}
		  <tr>
		  	<td>
				<label class="checkbox">
					<input type="checkbox" name="versao_{{documento.id_versao}}" value="option1">
				</label>
            </td>
		    <td><center>{{documento.protocolo}}</center></td>
		    <td>{{documento.assunto}}</td>
		    <td>{{documento.tipo_documento}}</td>
		    <td>{{documento.estado}}</td>
		    <td>{{documento.criador}}</td>
		    <td><center>{{documento.num_versao}}</center></td>
		    <td><center>{{documento.data_criacao}}</center></td>
		    <td>
	            <div class="btn-group">   
	            	{% if documento.id_estado == 5 %}
	            	<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus-sign icon-white"></i> Informações    <span class="caret"></span></a>
	            	{% else %}
	            		{% if documento.tipoVisualizacao == 1 %}
	            			<a class="btn btn-primary" href="{{documento.caminhoVisualizar}}" target="_blank" title="{{documento.assunto}}"><i class="icon-camera icon-white"></i> Visualizar</a>
	            		{% endif %}
	            		{% if documento.tipoVisualizacao == 2 %}
	            			<a class="btn btn-primary fancybox" href="{{documento.caminhoVisualizar}}" data-fancybox-group="gallery" title="{{documento.assunto}}"><i class="icon-camera icon-white"></i> Visualizar</a>
	            		{% endif %}
	            		{% if documento.tipoVisualizacao == 3 %}
	            			<a class="btn btn-primary" href="/download/{{documento.id_versao}}/"><i class="icon-download-alt icon-white"></i>  Download</a>
	            		{% endif %}
	            		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
	            	{% endif %}
	            	<ul class="dropdown-menu">
		         		<li class="divider"></li><li><a class="fancybox fancybox.iframe" href="/historico/{{documento.id_versao}}/"><i class="icon-book"></i>  Histórico</a></li>
		         	</ul>
		         </div>
			</td>
		  </tr>
		  {% empty %}
		  {% endfor %}	

		</tbody>
	</table>
  	
</div>
    
<form class="well form-inline" method="post"> {% csrf_token %}
    
    <div class="modal hide" id="avancado">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Busca Avançada - Índices Personalizados</h3>
	  </div>
	  <div class="modal-body">
	    {% for indice in iListaIndices %}
	    <div class="control-group">
			<div class="controls">
				<input type="text" class="input-xlarge" id="input_{{indice.id_indice}}" 
				name= "indice_{{indice.id_indice}}" placeholder={{indice.descricao}} >
			</div>
		</div>
		{% endfor %}   
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
	    <button type="submit" class="btn btn-success" name= "buscaAcancada">Buscar</button>
	  </div>
	</div>
</form>


{% endblock conteudo %}