<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css_fbox.html" %}
{% endblock style %}

<body>
	<div class="container">
		<header class="jumbotron subhead" id="overview">
		  <h2>Check-in</h2>
		  <p class="lead">Criar uma nova versão de um documento.</p>
		</header>
		
		{% if messages %}
		<div class="alert alert-info">
			<ul class="messages">
			    {% for message in messages %}
			    	<li><b>{{ message }}</b></li>
			    {% endfor %}
			</ul>
		</div>
		{% endif %}
		
		{% if iPossuiPermissao %}
		<form class="form" id="fancy" action="{% url multi %}" method="POST" enctype="multipart/form-data">
			{% load multiuploader %}
			{% multiupform %}
		</form>
		<form class="form-horizontal" id="fancy" action="" method="POST" >{% csrf_token %}
			<div class="well">
				<div class="control-group">
		            <label class="control-label" for="textarea">Descrição da Modificação:</label>
		            <div class="controls">
		              <textarea id="id_descricao_checkin" rows="10" cols="40" name="descricao" style="margin: 0px 0px 9px; width: 361px; height: 100px; "></textarea>
		            </div>
	          	</div>
			</div>	
			
			<div class="form-actions" style="float: right;">
				<button id="fat-btn" data-loading-text="Carregando..." type="submit" class="btn btn-primary pull-right">Check-In de Documento</button>
				<!--<button class="btn" name="cancelar" onClick="parent.jQuery.fancybox.close();">Cancelar</button>-->
			</div>
			
		</form>
		{% endif %}
	</div>
</body>

</html>
