<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
		<center>
		<header class="jumbotron subhead" id="overview">
		  <h2><strong>Check-in</strong></h2>
		  <p class="lead">Criar uma nova versão de um documento.</p>
		</header>
		</center>
		<form class="form" id="fancy" data-fancy='true' action="{% url multi %}" method="POST" enctype="multipart/form-data">
			{% load multiuploader %}
			{% multiupform %}
		</form>
		<form class="form-horizontal" id="fancy" data-fancy='true' action="" method="POST" >{% csrf_token %}
			<div class="well">
				<div class="control-group">
		            <label class="control-label" for="textarea">Descrição da Modificação:</label>
		            <div class="controls">
		              <textarea id="id_descricao_checkin" rows="10" cols="40" name="descricao" style="margin: 0px 0px 9px; width: 361px; height: 100px; "></textarea>
		            </div>
	          	</div>
			</div>	
			
			<div class="form-actions">
				<button id="fat-btn" data-loading-text="Carregando..." type="submit" class="btn btn-primary">Chec-In de Documento</button>
				<!--<button class="btn" name="cancelar" onClick="parent.jQuery.fancybox.close();">Cancelar</button>-->
			</div>
			
		</form>
	</div>
</body>

</html>
