<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css_fbox.html" %}
{% endblock style %}

<body>
	<div class="container">
  	
		<header class="jumbotron subhead" id="overview">
		  <h2>Check-out</h2>
		  <p class="lead">Documento ficará indisponível para os outros usuários.</p>
		</header>
		
		{% if messages %}
		<div class="alert alert-info">
			<ul class="messages">
			    {% for message in messages %}
			    	<li><b>{{ message }}</b></li>
			    {% endfor %}
			</ul>
		</div>
		{% endif %}
		
		{% if iPossuiPermissao %}
		<form action="" id="fancy" method="POST">{% csrf_token %}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right" data-toggle="button">Check-out</button>
			</div>
		</form>
		{% endif %}
		
  </div>
</body>

</html>
