<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
  	
		<header class="jumbotron subhead" id="overview">
		  <h2><strong>Importar Documento</strong></h2>
		  <p class="lead">Importação de documento do arquivo.</p>
		</header>
		  	
		<form class="form-horizontal">
			<fieldset>
			  <div class="control-group">
			    <label class="control-label" for="input01">Assunto</label>
			    <div class="controls">
			      <input type="text" class="input-xlarge" id="input01">
			      <p class="help-block">Assunto relacionado ao documento.</p>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="optionsCheckbox">Arquivo Público</label>
			    <div class="controls">
			      <label class="checkbox">
			        <input type="checkbox" id="optionsCheckbox" value="option1">
			        Este arquivo pode ser visualizado publicamente?
			      </label>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="select01">Tipo de Documento</label>
			    <div class="controls">
			      <select id="select01">
			        <option>Selecione</option>
			        <option>Contrato</option>
			        <option>Balanço</option>
			        <option>Cronograma</option>
			        <option>Modelo</option>
			      </select>
			    </div>
			  </div>
			  <div class="control-group">
	            <label class="control-label" for="fileInput">Adicionar Arquivo</label>
	            <div class="controls">
	              <input class="input-file" id="fileInput" type="file">
	            </div>
	          </div>
			  <div class="control-group">
	            <label class="control-label">Protocolo</label>
	            <div class="controls">
	              <span class="input-xlarge uneditable-input">242342423</span>
	            </div>
	          </div>
			  <div class="form-actions">
			    <button type="submit" class="btn btn-primary">Importar</button>
			    <button class="btn" onClick="parent.jQuery.fancybox.close();" >Cancelar</button>
			  </div>
			</fieldset>
		</form>
	
  </div>
</body>

</html>
