<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
<!-- Projeto -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/projeto/mascaras.js"></script> 
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container">
  		<center>
		<header class="jumbotron subhead" id="overview">
		  <h2><strong>Importar Documento</strong></h2>
		  <p class="lead">Importação de documento do arquivo.</p>
		</header>
		</center>
	</div>	
		
	<br><br> 
	<div class="container">
		{% if form.errors %}
			<p><b>O seu cadastro não pode ser ralizado. Por favor, verifique os erros abaixo:</b></p>	
			{% for field in form %}
		    	{{ field.errors }}
		    {% endfor %}
	    {% endif %}
		<form class="form-horizontal" action="{% url multi %}" method="POST" enctype="multipart/form-data">
	  	<fieldset>
	  		
  		  <div class="control-group">
		    <label class="control-label" for="input01">Assunto</label>
		    <div class="controls">
			  {{form.assunto}}
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="optionsCheckbox">Arquivo Público</label>
		    <div class="controls">
		      <label class="checkbox">
		        {{form.eh_publico}}
		        Este arquivo pode ser visualizado publicamente?
		      </label>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="select01">Tipo de Documento</label>
		    <div class="controls">
		      	{{form.tipo_documento}}
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="select01">Usuário Responsável</label>
		    <div class="controls">
		      	{{form.usr_responsavel}}
		    </div>
		  </div>
	    
	      <div class="control-group">
            <label class="control-label">Data Validade</label>
            <div class="controls">
            	{{form.data_validade}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Data Descarte</label>
            <div class="controls">
              	{{form.data_descarte}}
            </div>
          </div>
          
	    <center>
			<div class="page-header">
				<h2><strong>Índices</strong></h2>
			</div>
		</center>
		{% for indice in iListaIndices %}
		  
		<div class="control-group">
			<label class="control-label" for="input01">{{indice.descricao}}</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="assunto" name='indice_{{indice.id_indice}}'>
			</div>
		</div>
		  
		{% empty %}
		{% endfor %}
	    </fieldset>
	    <br>
	    
	    <div class="control-group">
			<label class="control-label">Upload:</label>
			<div class="controls">
				{% load multiuploader %}
				{% multiupform %}
			</div>
		</div>
	    
		</form>
		
	</div>
		          
</body>

</html>
