<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	<div class="container" align="center">
		<header class="jumbotron subhead" id="overview">
		  <h2>Acompanhamento de Pendência</h2>
		</header>
	</div>
	
	<div class="container">
		<form class="form-horizontal" action="" method="POST">{% csrf_token %}

			<table class="table table-striped table-bordered table-condensed">
		        <thead>
		          <tr>
		            <th colspan="6" class="tipotabela"><center>Pendências Recebidas</center></th>
		          </tr>
		          <tr>
		            <th class="tipotabela"><center>Protocolo</center></th>
		            <th class="tipotabela"><center>Remetente</center></th>
		            <th class="tipotabela"><center>Descrição</center></th>
		            <th class="tipotabela"><center>Data</center></th>
		            <th class="tipotabela"><center>Histórico</center></th>
		            <th class="tipotabela"><center>Ação</center></th>
		          </tr>
		        </thead>
		        <tbody>
		       	{% for pendencia in iDestinatarios.object_list %}
		          <tr>
		          </tr><tr>
		            <td><center>{{pendencia.protocolo}}</center></td>
		            <td>{{pendencia.remetente}}</td>
		            <td>{{pendencia.descricao}}</td>
		            <td><center>{{pendencia.data}}</center></td>
		            <td><a class="fancybox fancybox.iframe" href="/historico/{{pendencia.idVersao}}/"><i class="icon-book"></i>  Histórico</a></td></td>
		            {% if pendencia.tipo = 1 %}
		            <td>
		            	<p>
							<a class="fancybox fancybox.iframe" href="/aprovar_documento/{{pendencia.idVersao}}/"><i class="icon-thumbs-up"></i>  Aprovar</a>
							<a class="fancybox fancybox.iframe" href="/reprovar_documento/{{pendencia.idVersao}}/"><i class="icon-thumbs-down"></i>  Reprovar</a>
						</p>
					</td>
					{% else %}
					<td>
		            	<p>
							<a class="fancybox fancybox.iframe" href="/assinar/{{pendencia.idVersao}}/"><i class="icon-thumbs-up"></i>  Assinar</a>
						</p>
					</td>
					{%endif%}
		          </tr>
		        {% empty %}
		  		{% endfor %}
		        </tbody>
			</table>
		</form>
		<ul class="pager">
	    	<ul class="pager">
	        {% if iDestinatarios.has_previous %}
	        <li class="previous">
	        	<a href="?page_destinatario={{ iDestinatarios.previous_page_number }}">&larr; Anterior</a>
	        </li>
	        {% endif %}
	
	        {% if iDestinatarios.has_next %}
	        <li class="next">
				<a href="?page_destinatario={{ iDestinatarios.next_page_number }}">Próxima &rarr;</a>
			</li>
	        {% endif %}
	    	</ul>
	    </ul>

		<table class="table table-striped table-bordered table-condensed">
	        <thead>
	          <tr>
	            <th colspan="6" class="tipotabela"><center>Pendências Encaminhadas</center></th>
                  </tr>
                  <tr>
                    <th class="tipotabela"><center>Protocolo</center></th>
                    <th class="tipotabela"><center>Destinatário</center></th>
                    <th class="tipotabela"><center>Feedback</center></th>
                    <th class="tipotabela"><center>Data</center></th>
                    <th class="tipotabela"><center>Estado</center></th>
                    <th class="tipotabela"><center>Histórico</center></th>
                  </tr>
	        </thead>
	        <tbody>
			{% for pendencia in iRemetentes.object_list %}
				<tr>
				</tr><tr>
				<td><center>{{pendencia.protocolo}}</center></td>
				<td>{{pendencia.destinatario}}</td>
				<td>{{pendencia.feedback}}</td>
				<td><center>{{pendencia.data}}</center></td>
				<td>{{pendencia.estadoPen}}</td>
				<td><a class="fancybox fancybox.iframe" href="/historico/{{pendencia.idVersao}}/"><i class="icon-book"></i>  Histórico</a></td>
				</tr>
			{% empty %}
			{% endfor %}
	        </tbody>
		</table>
		
		<ul class="pager">
	    	<ul class="pager">
	        {% if iRemetentes.has_previous %}
	        <li class="previous">
	        	<a href="?page_remetente={{ iRemetentes.previous_page_number }}">&larr; Anterior</a>
	        </li>
	        {% endif %}
	
	        {% if iRemetentes.has_next %}
	        <li class="next">
				<a href="?page_remetente={{ iRemetentes.next_page_number }}">Próxima &rarr;</a>
			</li>
	        {% endif %}
	    </ul>
	</div>
		
</body>

</html>
