{% extends "base.html" %}
{% load i18n %}
{% block conteudo %}

	<div class="container-fluid">
		<br><br><br><br><br>
		<div class="row-fluid">
			<div class="span2">
		    </div>
		    <div class="span8">
		    	<center>
			    	<header class="jumbotron subhead" id="overview">
					  <h1><strong>Entrar</strong></h1>
					  <p class="lead">Efetuar Login no Sistema</p>
					</header>
					
					<form class="well form-inline"method="post" action="/login/">{% csrf_token %}
						<fieldset>
						  	<input type="text" id="username" name="username" class="input-xlarge" placeholder="Email">
						  	<input type="password" id="password" name="password" class="input-xlarge" placeholder="Senha">
					  	  	<button type="submit" class="btn btn-primary"><span>Efetuar Login</span></button>
					  	</fieldset>
					</form>
					<div class="alert alert-error">
				        <button type="button" class="close" data-dismiss="alert">×</button>
				        {% if vTipoErro == "1" %}
				        <strong>E-mail e/ou Senha incorreto(s). </strong> Digite novamente seu E-mail e senha para efetuar o login.
				    	{% endif %}
				    	{% if vTipoErro == "2" %}
				        <strong>Esta Usuário está Inativo. </strong> Para mais informações, entre em contato com o administrador.
				    	{% endif %}
				    	{% if vTipoErro == "3" %}
				        <strong>Este endereço de IP está bloqueado. </strong> Para mais informações, entre em contato com o administrador.
				    	{% endif %}
				    </div>
				</center>
			</div>
			<div class="span2">
		    </div>
		</div>
		<br><br><br><br><br>
	</div>

{% endblock conteudo %}