{% extends "base.html" %}
{% load i18n %}
{% block conteudo %}

	<div class="container-fluid">
		<div class="row-fluid">
		    <div class="span4 offset4">
		    	<!-- retirada a linha <center> e centralizando no css (ainda não realizado) -->
			    	<header id="overview"> <!-- retirada a classe "jumbotron subhead" da tag head -->
					  <h1>Entrar</h1>
					  <p class="lead">Efetuar Login no Sistema</p>
					</header>
					
					<form method="post" action="/login/">{% csrf_token %} <!-- retirada a classe class="well form-inline" da tag form -->
						{% if form.errors %}
								<script language="JavaScript">
								       self.location="{% url login_error %}";
								</script>
						{% endif %}	
						<fieldset>
						  	<input type="text" id="username" name="username" class="input-xlarge" placeholder="Email">
						  	<input type="password" id="password" name="password" class="input-xlarge" placeholder="Password">
					  	  	<button type="submit" class="btn btn-primary"><span>Efetuar Login</span></button>
					  	</fieldset>
					</form>
					{% if messages %}
					<div class="alert alert-info">
						<ul class="messages">
						    {% for message in messages %}
						    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
						    {% endfor %}
						</ul>
					</div>
					{% endif %}
				<!-- </center> -->
			</div>
		</div>
	</div>

{% endblock conteudo %}