{% extends "base.html" %}
{% load i18n %}
{% block conteudo %}

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> <!-- Glauco: o que isso faz? -->
	<header class="jumbotron subhead" id="overview">
	  <h1>TRACK-DOC</h1>
	  <p class="lead">Gerenciamento Eletrônico de Documentos</p>
	</header>
	
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&language=pt-BR"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/googlemaps/mapas.js"></script> 
	
	<div class="container">
		<div class="row">	
			<div class="span6 offset3">
				<form class="well">
					<div id="map_canvas" style="width: 540px; height: 370px;"></div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="span8 offset2">
				<p class="lead" style="text-align: center; color: #007abc; font-weight: 500;">Encontre os documentos públicos disponíveis no mapa acima!</p>
			</div>
		</div>
	</div>
	
{% endblock conteudo %}