{% extends "base.html" %}
{% load i18n %}
{% block conteudo %}
	
	<header class="jumbotron subhead" id="overview">
	  <h1><strong>Sistema GED</strong></h1>
	  <p class="lead">Gerenciamento Eletrônico de Documentos</p>
	</header>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span5">
	  			<iframe width="420" height="315" src="http://www.youtube.com/embed/nyFrxmWY4DE" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="span7">
				
			</div>
		</div>
	</div>
  		
{% endblock conteudo %}