<!DOCTYPE html>
<html lang="en">
  <head>
  	{% block meta %}
    <meta charset="utf-8">
    <title>Sistema GED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	{% endblock meta %}
	
    {% block style %}
    {% include "./media/css.html" %}
    {% endblock style %}
    	
    {% block scripts %}
	{% include "./media/js.html" %}
	{% endblock scripts %}
	<!-- FancyBox -->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/fancy/jquery.fancybox.js?v=2.0.6"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/fancy/fancy_config.js"></script>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ MEDIA_URL }}img/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ MEDIA_URL }}img/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ MEDIA_URL }}img/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}img/bootstrap/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
	<div class="main">
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          {% if user.is_authenticated %}
	          <a class="brand" href="/documentos/">TRACK-DOC</a>
	          {% else %}	          
	          <a class="brand" href="/">TRACK-DOC</a>
	          {% endif %}
	          
	          {% if user.is_authenticated %}
	          <div class="nav pull-left">
	            <ul class="nav">
	              <li class="tool"><a href="/documentos" rel="tooltip" data-original-title="Marketplace for premium templates and themes"><i class="icon-share-alt icon-white"></i> Documentos</a></li>
	              <li class="tool"><a href="/busca" rel="tooltip" data-original-title="Marketplace for premium templates and themes"><i class="icon-share-alt icon-white"></i> Busca</a></li>
	              <li class="tool"><a class="fancybox fancybox.iframe" href="/acompanhamento" rel="tooltip" data-original-title="Marketplace for premium templates and themes"><i class="icon-share-alt icon-white"></i> Pendências</a></li>
	              <li class="tool"><a href="#" rel="tooltip" data-original-title="Marketplace for premium templates and themes"><i class="icon-share-alt icon-white"></i> Relatórios</a></li>
	            </ul>
	          </div>
	          {% endif %}

	          <div class="btn-group pull-right">
	          	{% if user.is_authenticated %}
	            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	              <i class="icon-user"></i> Bem-vindo
	              <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>
	              <span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu">
	            {% if user.is_staff %}
	            	<li><a href="/admin/"><i class="icon-lock"></i>  Administração</a></li>
	            {% endif %}
	            	<li><a class="fancybox fancybox.iframe" href="/trocar_senha/"><i class="icon-retweet"></i>  Trocar Senha</a></li>
	              	<li class="divider"></li>
	              	<li><a href="/logout/"><i class="icon-remove"></i>  Sair</a></li>
	            </ul>
	            {% else %}
				<a class="btn" href="/login/">
	              	<i class="icon-user"></i> ENTRAR
	            </a>
	            {% endif %}
	          </div>
	          
	        </div>
	      </div>
	    </div>
	    <div class="container">
	    {% block conteudo %}{% endblock %}
		</div>
	    
	</div>
  </body>
</html>

