<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Examples · Twitter Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/docs.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
    {% block topo %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">SISTEMA GED</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/teste/">Teste_True</a>
              </li>
              <li class="">
                <a href="/">Teste</a>
              </li>
              <li class="">
                <a href="/">Teste</a>
              </li>
              <li class="">
                <a href="/">Teste</a>
              </li>
              <li class="">
                <a href="/">Teste</a>
              </li>
              <li class="">
                <a href="/">Teste</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="">
                <a href="/">Teste</a>
              </li>
              <li class="active">
                <a href="/">Teste</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
	{% endblock topo %}
	
    <div class="container">

<!-- Masthead
================================================== -->

	{% block conteudo %}{% endblock %}
	
	
    {% include "rodape.html" %}

    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/google-code-prettify/prettify.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-button.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ MEDIA_URL }}js/application.js"></script>


  </body>
</html>