<!DOCTYPE html>
<html lang="en">
{% block scripts %}
{% include "./media/js.html" %}
{% endblock scripts %}

{% block style %}
{% include "./media/css.html" %}
{% endblock style %}

<body>
	
	<div class="container">
		<center>
		<header class="jumbotron subhead" id="overview">
		  <h2><strong>Sucesso</strong></h2>
		  <p class="lead">Ação Efetuada com Sucesso</p>
		</header>
		</center>
	</div>
	
	<div class="container">
		<div class="alert alert-success">
		<center>		
	      <strong>Sucesso!</strong> {{iMensagem}}
	    </center>  
	    </div>
    </div>
	
</body>

</html>
