<link href="../../media/css/twain/style.css" type="text/css" rel="stylesheet" />

<div id="container" class="body_Broad_width" style="margin:0 auto;">

<div id="DWTcontainer" class="body_Broad_width" style="background-color:#ffffff; height:400px; border:0;">


<div id="dwtcontrolContainer">
<div id="dwtcontrol">
<div id="mainControlPluginNotInstalled" style="display:none; border:3;" >
<table class="divcontrol">
    <tr>
    <td style="text-align: center; vertical-align: middle;">
        <a href="../media/twain/resources/DynamicWebTWAINPlugIn.msi"><strong>Clique Aqui para fazer o Download e Instalação do Plugin</strong></a><br />
        Após a instalação o seu Navegador deve ser Reiniciado.
    </td>
    </tr>
</table>
</div>
<div id="MACmainControlNotInstalled" style="display:none">
<table class="divcontrol">
    <tr>
    <td style="text-align: center; vertical-align: middle;">
        <a href="../media/twain/resources/DynamicWebTWAINMacEditionTrial.pkg"><strong>Clique Aqui para fazer o Download e Instalação do Plugin</strong></a><br />
        Após a instalação o seu Navegador deve ser Reiniciado.
    </td>
    </tr>
</table>
</div>
<div id="mainControlPlugin" style="display:inline">
</div>

<div id="maindivIElimit" style="display:inline" >
<table class="divcontrol">
    <tr>
    <td style="text-align: center; vertical-align: middle;">
        <strong>Internet Explorer restricted this webpage from running scripts or ActiveX control</strong><br />
        If you wish to continue, please click 'Allow blocked content' on the IE popup message dialog
    </td>
    </tr>
</table>
</div>
<div id="maindivIE">
<object classid="clsid:5220cb21-c88d-11cf-b347-00aa00a28331" style="display:none;">
    <param name="LPKPath" value="../media/twain/resources/DynamicWebTwain.lpk" />
</object>
<div id="maindivIEx86" >                                    
</div>
<div id="maindivIEx64" >                                  
</div>
</div>
</div>

<div id="extraInfo" style="font-size: 11px; color: #222222; font-family: verdana sans-serif; background-color:#f0f0f0; text-align:left; width:560px;" ></div>

<div class="divinput" style="text-align:center; width:560px; background-color:#FFFFFF;">
    <input id="btnFirstImage" onclick="return btnFirstImage_onclick()" type="button" value=" |&lt; "/>&nbsp;
    <input id="btnPreImage" onclick="return btnPreImage_onclick()" type="button" value=" &lt; "/>&nbsp;&nbsp;
    <input type="text" size="2" id="CurrentImage" readonly="readonly"/>/
    <input type="text" size="2" id="TotalImage" readonly="readonly" value="0"/>&nbsp;&nbsp;
    <input id="btnNextImage" onclick="return btnNextImage_onclick()" type="button" value=" &gt; "/>&nbsp;
    <input id="btnLastImage" onclick="return btnLastImage_onclick()" type="button" value=" &gt;| "/>
</div>

</div>

<div id="ScanWrapper">
<div id="forFirefoxSafari" style="display:none;"><a href="http://kb.dynamsoft.com/questions/757/What+if+my+scanner+doesn%27t+shown+in+Firefox+or+Safari%3F">What if the scanners don't shown in Firefox or Safari?</a></div>
<div id="divScanner" class="divinput">
<ul>
    <li><img alt="arrow" src="../media/twain/images/arrow.gif" style="width:9px; height:12px;"/>
        <b>Scanners Disponíveis</b></li>
    <li style="padding-left:15px;">
        <label for="source">Selecione o Scanner<select size="1" id="source">
            <option value = ""></option>    
        </select></label></li>
    <li style="text-align:center;">
        <input id="btnScan" class="bigbutton" type="button" value="Digitalizar" onclick ="btnScan_onclick();"/></li>
</ul>
</div>

<div id="divBlank" style="height:20px">
<ul>
</ul>
</div>

<div id="tblLoadImage" style="visibility:hidden;">
<ul>
    <li><b>You can:</b><a href="javascript: void(0)" style="text-decoration:none; padding-left:200px" class="ClosetblLoadImage">X</a></li>
</ul>
<div id="notformac1" style="background-color:#f0f0f0; padding:5px;">
<ul>
    <li><img alt="arrow" src="../media/twain/images/arrow.gif" width="9" height="12"/><strong>Install a Virtual Scanner:<br /></strong></li>
    <li style="text-align:center;"><a id="samplesource32bit" href="http://www.dynamsoft.com/demo/DWT/Sources/twainds.win32.installer.2.1.3.msi">32-bit Sample Source</a>
        <a id="samplesource64bit" style="display:none;" href="http://www.dynamsoft.com/demo/DWT/Sources/twainds.win64.installer.2.1.3.msi">64-bit Sample Source</a> from <a href="http://www.twain.org">TWG</a></li>
</ul>
</div>

<ul id="notformac2">
    <li><b>Or you can:</b></li>
</ul>
<div style="background-color:#f0f0f0; padding:5px;">
<ul>
       <li><img alt="arrow" src="../media/twain/images/arrow.gif" width="9" height="12"/><b>Load a Sample Image:</b></li>
    <li style="text-align:center"><input id="btnLoad" class="bigbutton" type="button" style="width:200px;" value="Load Image" onclick="return btnLoad_onclick()" /></li>
</ul>
</div>
</div>


<div id="divUpload" class="divinput">
<ul style="display:none;">
    <li><img alt="arrow" src="../media/twain/images/arrow.gif" width="9" height="12"/><b>Upload Image</b></li>
    <li style="padding-left:9px;">To upload images, you  need to have the web server set up first.</li>
    <li style="padding-left:9px;">Please check out the Visual Studio sample.</li>
</ul>
<ul style="display:inline;">
    <li><img alt="arrow" src="../media/twain/images/arrow.gif" width="9" height="12"/><b>Enviar Arquivo</b></li>
    <li style="text-align: center">
        <input id="btnUpload" type="button" value="Enviar Arquivo" onclick ="return btnUpload_onclick()"/></li>
</ul>
</div>

</div>

</div>

</div>


<script type="text/javascript" language="javascript" src="../../media/js/twain/SampleApp.js"> </script>
<script type="text/javascript" language="javascript" src="../../media/js/twain/jCommon.js"> </script>

